/*ASSET IMPORTS */
@use './src/assets/reset.css';
@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Nunito:wght@300;400;600&display=swap&family=Roboto:wght@100;400&display=swap');

/*** GLOBAL VARIABLES ***/

$blue: #201FC8;
$white: #FFF;
$red: red;
$linkcolor: orange;
$padding: 3rem;
$fontPrimary: 'Raleway', sans-serif;
$fontSecondary: 'Nunito', sans-serif;
$fontTernary: 'Roboto', sans-serif;


// sections //

.bckBlue {
  background: #0575E6;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #021B79, #0575E6);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #021B79, #0575E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.bckRed {
  background: #ED213A;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #93291E, #ED213A);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #93291E, #ED213A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

section {
  display: block;
  width: 100vw;
  min-height: 90vh;
}


// end of sections